.root {

    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.label {
    font-size: 15px;
    font-weight: bold;
    text-fill-color: darkgrey;
    border-radius: 5px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    background: gray;
    background-size: cover;
    color: white;
    text-align: center;

    position: relative;
    z-index: -2;
}

body:before {
    position: fixed;
    top: 0;
    left: 0;
    content: ' ';
    background: #23232387;
    display: block;
    height: 100%;
    width: 100%;

}

.animated {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: both;
}